name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: lysnne
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push Docker image
        run: |
          docker build -f src/api/Dockerfile -t ghcr.io/lysnne/todo-api:latest src/api
          docker push ghcr.io/lysnne/todo-api:latest
